.headline{
    font-family: 'Chonburi', cursive;
    font-size: 48px;
    border-left: 4px solid;
    border-image: linear-gradient(brown,red);
    border-image-slice: 1;

   
}
.clr{
    color: brown;
}
p{
    font-size: 20px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
    margin-left: 15%;
}
.first-sec{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(black,grey);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
#little-fotter{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5%;
}
#colr{
    text-align: center;
    font-weight: 600;
    color:tomato;
    margin-top: 5%;
    margin-bottom: 5%;
}
.mission img{
width: 40%;

}
.mission{
   width: 50%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left: 15px;
   border-radius: 10px;
  
   background-color: burlywood;
}
.vision img{
width: 40%;
}

.vision{
    width: 50%;
    margin-left: 5%;
    margin-right: 8%;
    padding-left: 15px;
    border-radius: 10px;
    background-color: cadetblue;
}
.goal img{
    width: 40%;
}
.goal{
    width: 50%;
    margin-left: 5%;
    margin-right: 8%;
    padding-left: 15px;
    border-radius: 10px;
    background-color: rgb(65, 87, 65);
}
.tryout{
    
    display: flex;
    margin-bottom: 140px;
}
.third{
    display: flex;
    margin-left: 10%
    margin-bottom: 140px
}
.third{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.fourth{
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}
footer{
    margin-top: 150px;
    background-color: black;
    color: ivory;
    text-align: center;
}
#end{
    color: royalblue;
}
#last{
    font-size: 10px;
     
    padding-bottom: 25px;
}