.headline{
    font-family: 'Chonburi', cursive;
    font-size: 40px;
   
}
.clr{
    color: brown;
}
p{
    font-size: 20px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
    margin-left: 15%;
}
.first-sec{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(black,grey);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
#little-fotter{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5%;
}
h2{
    text-align: center;
    font-weight: 600;
    color:tomato;
}